# dependencies
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files 
.env

# editor/IDE settings 
.vscode/

# system files 
.DS_Store

# output
/.nyc_output
/coverage

# logs from PM2 
/pm2-logs/

